#title{
    color: white;
    background-color: lightgreen;
    text-align: center;
    width: 300px;
    margin-left: 500px;

}

.classp{
    color: black;
    background-color: lightgreen;
    text-decoration-line: underline;
    text-decoration: green;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    width: 150px;
    margin: 50px;
}

